<div class="form-card">
  <%= form_tag root_path, method: :get, class: "search-form" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Type a city name", class: "search-field" %>
    <%= select_tag :state, options_for_select(@state_options, params[:state]), class: "states-select" %>
    <%= submit_tag "Search", class: "submit-button" %>
  <% end %>

  <% if params[:query].blank? %>
    <p>Enter a search query to find cities in Brazil.</p>
  <% elsif @cities.any? %>
    <table class="cities-table">
      <thead>
      <tr>
        <th>IBGE Code</th>
        <th>Name</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td>
            <%= city.ibge_code %>
          </td>
          <td>
            <%= city.pg_search_highlight.html_safe %>
          </td>
          <td>
            <%= city.state.name %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Oops! Seems we were unable to find your city. Try another search?</p>
  <% end %>
</div>
